body{
    background-color: black;
}
header{
    background: black;
    height: 75px;
    width: 100%;
}
nav ul{
    display: flex;
flex-direction: row;
position: absolute;
margin: 40px;
padding: 20px;
}

button{
    background-color: aqua;
    border: 2px black solid;
    height: 50px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;   
}
#logo{
    height: 50px;
    width: 70px;
    top: 8px;
    right: 16px;
    margin-top: 7px;
    margin-right: 10px;
}